{% extends 'base.html' %}

{% load tracker_tags %}

{% block title %}
- {{ block.super}}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="dropdown-item" href="{% url 'profile' user_id=request.user.id %}">Profile</a>
    <i class="fas fa-user-circle"></i>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="dropdown-item" href="{% url 'view_users_shops' %}">Shops</a>
    <i class="fas fa-store-alt"></i>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="dropdown-item" href="{% url 'view_tracker' %}">Tracker</a>
    <i class="fas fa-chart-line"></i>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
    <i class="fas fa-sign-out-alt"></i>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
    <i class="fas fa-sign-out-alt"></i>
  </li>
</ul>

{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong id="successMessage">{{ message }}</strong>
</div>
{% endfor %}
{% endif %}

<table id="itemTable" class="table">
    <thead>
    <tr>
        <th scope="col">Наименование</th>
        <th scope="col">Цена в рублях</th>
        <th scope="col">Цена в биткоинах</th>
        <th scope="col">Цена в биткоинах сейчас</th>
        <th scope="col">Ожидаемая цена</th>
        <th scope="col">Скидка</th>
    </tr>
    </thead>
    <tbody>
    {% for product in tracker.products.all%}
    <tr id="item-{{product.id}}">
        <th scope="row">{{product.product.title}}</th>
        <td>{{product.beginning_price_rub |floatformat:"0" }} рублей</td>
        <td>{{product.beginning_price_btc}} btc</td>
        <td>{% multiply price_btc product.beginning_price_btc %}</td>
        <td>
            {{product.requested_price}}
        </td>
        <th>{{product.discount_price}} rub</th>
        <td align="center">
            <button class="btn btn-success form-control" onClick="editProduct({{product.id}})" data-toggle="modal"
                    data-target="#myModal" )>Изменить
            </button>
        </td>
        <td align="center">
            <button class="btn btn-danger form-control" onClick="deleteItem({{product.id}})">Удалить</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="card-footer text-muted">
    <p>Всего отслеживаемых:<span id="countItems">{{ tracker.total_products}}</span></p>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Update User</h4>
            </div>
            <form id="updateUser" action="">
                <div class="modal-body">
                    <label for="percent">Процент изменения</label>
                    <input class="form-control" id="form-age" type="number" name="formPercent" min=10 max=100/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% block javascript %}
<script>
// Create Django Ajax Call
$("form#updateUser").submit(function() {
    var idInput = $('input[name="formId"]').val().trim();

    var percentInput = $('input[name="formPercent"]').val().trim();
    if (percentInput) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "crud_ajax_update" %}',
            data: {
                'id': idInput,
                'percent': percentInput
            },
            dataType: 'json',
            success: function (data) {
                if (data.user) {
                  updateToUserTabel(data.user);
                }
            }
        });
       } else {
        alert("All fields must have a valid value.");
    }
    $('form#updateUser').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});

// Update Django Ajax Call
function editUser(id) {
  if (id) {
    tr_id = "#user-" + id;
    name = $(tr_id).find(".userName").text();
    address = $(tr_id).find(".userAddress").text();
    age = $(tr_id).find(".userAge").text();
    $('#form-id').val(id);
    $('#form-name').val(name);
    $('#form-address').val(address);
    $('#form-age').val(age);
  }
}

function updateToUserTabel(user){
    $("#userTable #user-" + user.id).children(".userData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "name") {
          $(this).text(user.name);
        } else if (attr == "address") {
          $(this).text(user.address);
        } else {
          $(this).text(user.age);
        }
      });
}

function deleteItem(id) {
  var action = confirm("Действительно хотите удалить этот товар из списка отслеживаемых?");
  if (action != false) {
    $.ajax({
        url: '{% url "delete_tracker_item" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#itemTable #item-" + id).remove();
              $("#successMessage").text("Товар успешно удален");
<!--              $("#countItems").text(count);-->
            }
        }
    });
  }
}

</script>
{% endblock javascript %}
{% endblock %}