{% extends 'base.html' %}

{% load tracker_tags %}

{% block title %}
   - {{ block.super}}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Наименование</th>
      <th scope="col">Цена в рублях</th>
      <th scope="col">Цена в биткоинах</th>
      <th scope="col">Цена в биткоинах сейчас</th>
    </tr>
  </thead>
  <tbody>
    {% for product in tracker.products.all%}
    <tr>
      <th scope="row">{{product.product.title}}</th>
      <td>{{product.beginning_price_rub |floatformat:"0" }} рублей</td>
      <td>{{product.beginning_price_btc}} btc</td>
      <td>{% multiply btc_price  product.beginning_price_btc %}  </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}