{% extends 'base.html' %}

{% block title %}
Все магазины - {{ block.super}}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}

<div class="search-bar ">
    <h4>Поиск магазина</h4>
    <form action="{% url 'search' %}" method="get"
          class="form-inline my-2 my-lg-0 d-flex flex-row justify-content-between">
        <input class="form-control mr-sm-2" type="search" placeholder="Введите название..." name="q">

        <button class="btn btn-dark " type="submit">
            <i class="bi bi-search"></i>
        </button>

    </form>
</div>

<form action="{% url 'filter' %}" method="get">
    <div class="left-side mt-3">
        <h4 class="sear-head editContent">Категории</h4>
        <div class="w3layouts-box-list">
            {% for category in view.get_categories %}
            <div class="editContent">
                <input type="checkbox" class="checked" name="category" value="{{ category }}">
                <span class="span editContent">{{ category }}</span>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="left-side mt-3">
        <h4 class="sear-head editContent">Города</h4>
        <div class="w3layouts-box-list">
            {% for city in view.get_city %}
            <div class="editContent">
                <input type="checkbox" class="checked" name="city" value="{{ city }}">
                <span class="span editContent">{{ city }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-dark mt-3">Найти</button>
</form>

{% endblock %}

{% block content %}




{% for shop in shopsDescriptions %}

<div class="card mb-3 mt-3" style="max-width: 540px;">
    <div class="p-3 bg-white">
        <div class="about-product text-center mt-2">
            {% if shop.photo %}
            <img src="{{ shop.photo.url}}" width="350" class="mr-3" alt="">
            {% else %}
            <img src="http://s1.iconbird.com/ico/2014/1/606/w512h5121390848250shop512.png" width="300">
            {% endif %}
            <div class="mt-3">
                <h4>{{shop.shop.title}}</h4>
                <h6 class="mt-0 text-black-50">{{shop.description}}</h6>
            </div>
        </div>
        <div class="stats mt-3">
            <div class="d-flex justify-content-between p-price">
                <span>Категория</span><span>{{shop.category.title}}</span>
            </div>
            <div class="d-flex justify-content-between p-price">
              <span>Адрес</span><span>{{shop.shop.address}}</span>
            </div>
            <div class="d-flex justify-content-between p-price">
              <span>Почта</span><span>{{shop.email}}</span>
            </div>
            <div class="d-flex justify-content-between p-price">
              <span>Владелец</span><span>{{shop.shop.owner.username}}</span>
            </div>
            <div class="d-flex justify-content-between p-price">
              <span>Телеграмм</span><span>{{shop.telegram_url}}</span>
            </div>
        </div>

        <div class="inline-block mt-3">
            <button onclick="location.href='{{ shop.get_absolute_url }}'" type="button"
                    class="btn btn-dark mt-3">В магазин
            </button>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}