{% extends 'base.html' %}

{% block title %}
  {{ shop.shop.title }} - {{ block.super}}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<div class="card mt-3 mb-3">
  <div class="card-header">
    Категория: <a href="{{ shop.category.get_absolute_url }}">{{shop.category}}</a>
  </div>
  <div class="card-body">
    <div class="media">
      {% if shop.photo %}
      <img src="{{ shop.photo.url}}" width="350" class="mr-3" alt="">
      {% else %}
      <img src="https://picsum.photos/id/1060/200/300/?blur" alt="">
      {% endif %}
      <div class="media-body">
        <h5 class="card-title">{{shop.shop.title}}</h5>
        <p class="card-text">{{shop.shop.address}}</p>
        <p class="card-text">{{shop.email}}</p>
        <p class="card-text">{{shop.url}}</p>
        <p class="card-text">{{shop.description}}</p>

        {% for product in products%}
        <div class="card mb-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.price_rub |floatformat:"0" }} рублей</p>
            <p class="card-text">{{product.price_btc}} btc</p>
            <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Поподробнее</a>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    {{shop.shop.created_at }}
  </div>
</div>

{% endblock %}