{% extends 'base.html' %}

{% block title %}
  {{ shops_item.shop.title }} - {{ block.super}}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="dropdown-item" href="{% url 'account' %}">Account</a>
    <span class="badge badge-primary badge-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="dropdown-item" href="{% url 'view_users_shops' %}">Shops</a>
    <span class="badge badge-primary badge-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="dropdown-item" href="{% url 'view_tracker' %}">Tracker</a>
    <span class="badge badge-primary badge-pill">1</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
    <span class="badge badge-primary badge-pill">1</span>
  </li>
</ul>

{% endblock %}

{% block content %}

{% for item in shops %}
<div class="card mt-3 mb-3">
  <div class="card-header">
    Название: <p>{{item.title}}</p>
  </div>
  <div class="card-body">
    <div class="media">
      {% if item.photo %}
      <img src="{{ item.photo.url}}" width="350" class="mr-3" alt="">
      {% else %}
      <img src="https://picsum.photos/id/1060/200/300/?blur" alt="">
      {% endif %}
      <div class="media-body">
        <p class="card-text">{{item.address}}</p>
        <a href="{% url 'add_product' item.pk %}" class="btn btn-primary">Добавить товары</a>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    {{item.created_at }}
  </div>
</div>

{% endfor %}

{% endblock %}