{% extends 'base.html' %}
{% load static %}

{% block title %}
  Map - {{ block.super}}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<h3 >Django Google Maps API Demo - Map</h3>

<div class="map-container">
   <div id="map-route"></div>
</div>

{% endblock %}

{% block extend_footer %}

<script type="text/javascript">

    var markers = {{marker|safe}}
    var google_api_key = "{{google_api_key|safe}}";

</script>
<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'map/google_maps.js' %}"></script>
<link rel="stylesheet" href="{% static 'map/map.css' %}">


{% endblock %}

