{% extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}

<ul class="nav flex-column ">
  <li class="nav-item">
    <a class="nav-link text-dark" aria-current="page" href="{% url 'profile' user_id=request.user.id %}">Профиль</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="{% url 'view_users_shops' %}">Ваши магазины</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="{% url 'view_tracker' %}">Список отслеживаемых</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="{% url 'password_change' %}">Сменить пароль</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="{% url 'logout' %}">Выйти</a>
  </li>
</ul>

{% endblock %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.
		  </p>
		  <p class="m-auto p-2">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Return to home page</a></p>
	</div>
</div>

{% endblock %}