<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4 text-light ">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left" >

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 ">

        <!-- Content -->
        <h5 class="text-uppercase ">О проекте</h5>
        <p >Наша цель популизация цифровых активов в качестве средства оплаты</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase" >Навигация</h5>

        <ul class="list-unstyled ">
          <li>
            <a href="{% url 'home' %}" class="text-light" style=" text-decoration: none;">Магазины</a>
          </li>
          <li>
            <a href="{% url 'all_products' %}" class="text-light" style=" text-decoration: none;">Товары</a>
          </li>
          <li>
            <a href="{% url 'map' %}" class="text-light" style=" text-decoration: none;">Карта</a>
          </li>
          <li>
            <a href="{% url 'prediction' coin='BTC' %}" class="text-light" style=" text-decoration: none;">Прогноз</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Контакты</h5>

        <ul class="list-unstyled text-light" >
          <li>
            <a href="#!" class="text-light" style=" text-decoration: none;">cryptomap2021@gmail.com</a>
          </li>
          <li>
            <a href="{% url 'contact_form' %}" class="text-light" style=" text-decoration: none;">Обратная связь</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a class="text-light " style=" text-decoration: none;" href="https://github.com/ruslanofc/cryptomap"> ruslanofc</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->