{% load shops_tags %}
{% get_categories as categories %}

{% load products_tags %}
{% get_products_categories as products_categories %}

{% load tracker_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'home' %}">Crypto map</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'home' %}">Магазины</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'map' %}">Карта</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="{% url 'home' %}" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Прогноз
                    </a>
                    <ul class="dropdown-menu text-light" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'prediction' coin='BTC' %}">Bitcoin</a></li>
                        <li><a class="dropdown-item" href="{% url 'prediction' coin='LTC' %}">Litecoin</a></li>
                        <li><a class="dropdown-item" href="{% url 'prediction' coin='DOGE' %}">Dogecoin</a></li>
                        <li><a class="dropdown-item" href="{% url 'add_coin_to_predict' %}">Some coin</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'all_products' %}">Все товары</a></li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link text-light" href="{% url 'add_shops' %}">Добавить магазин</a></li>
                {% endif %}
            </ul>
        </div>
        <span class="navbar-text p-2 text-light">
            1 BTC = {% get_price_btc %} руб
        </span>

        <span class="navbar-text">
            {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'profile' user_id=request.user.id %}" role="button">{{ request.user.username }}</a>
            {% else %}
                <a class="btn text-light" href="{% url 'register' %}">Register</a> | <a class="btn text-light" href="{% url 'login' %}">Log in</a>
            {% endif %}
        </span>
    </div>
</nav>