{% load shops_tags %}
{% get_categories as categories %}

{% load products_tags %}
{% get_products_categories as products_categories %}

{% load tracker_tags %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Crypto map</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item"><a class="nav-link text-dark" href="{% url 'home' %}">Главная</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="{% url 'map' %}">Карта</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="{% url 'home' %}" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Прогноз
                    </a>
                    <ul class="dropdown-menu text-dark" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'prediction' coin='BTC' %}">Bitcoin</a></li>
                        <li><a class="dropdown-item" href="{% url 'prediction' coin='LTC' %}">Litecoin</a></li>
                        <li><a class="dropdown-item" href="{% url 'prediction' coin='DOGE' %}">Dogecoin</a></li>
                        <li><a class="dropdown-item" href="{% url 'add_coin_to_predict' %}">Some coin</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="{% url 'home' %}" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Категории магазинов
                    </a>
                    <ul class="dropdown-menu text-dark" aria-labelledby="navbarDropdownMenuLink">
                        {% for category in categories %}
                        <li><a class="dropdown-item" href="{{ category.get_absolute_url }}">{{category.title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="{% url 'home' %}" id="navbarDropdownMenuLink2" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Категории товаров
                    </a>
                    <ul class="dropdown-menu text-dark" aria-labelledby="navbarDropdownMenuLink">
                        {% for product_category in products_categories %}
                        <li><a class="dropdown-item" href="{{ product_category.get_absolute_url }}">{{product_category.title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link text-dark" href="{% url 'add_shops' %}">Добавить магазин</a></li>
                {% endif %}
            </ul>
        </div>
        <span class="navbar-text p-2 text-dark">
            1 BTC = {% get_price_btc %} руб
        </span>

        <span class="navbar-text">
            {% if request.user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="{% url 'home' %}" id="navbarDropdownMenuLink"
                       role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {{ request.user.username }}
                    </a>
                    <ul class="dropdown-menu text-dark" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'account' %}">Account</a></li>
                        <li><a class="dropdown-item" href="{% url 'view_users_shops' %}">Shops</a></li>
                        <li><a class="dropdown-item" href="{% url 'view_tracker' %}">Tracker</a></li>

                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <a class="btn btn-outline-primary" href="{% url 'register' %}">Register</a> | <a class="p-2 text-dark outline" href="{% url 'login' %}">Log in</a>
            {% endif %}
        </span>
    </div>
</nav>