{% extends 'base.html' %}

{% block title %}
  {{ title }} - {{ block.super}}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}

<<ul class="nav flex-column ">
  <li class="nav-item">
    <a class="nav-link text-dark" aria-current="page" href="{% url 'profile' user_id=request.user.id %}">Профиль</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="{% url 'view_users_shops' %}">Ваши магазины</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="{% url 'view_tracker' %}">Список отслеживаемых</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="{% url 'password_change' %}">Сменить пароль</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="{% url 'logout' %}">Выйти</a>
  </li>
</ul>

{% endblock %}

{% block content %}



<form class="form-signin mt-3" method="post">{% csrf_token %}

    <h1 class="h3 mb-3 fw-normal ">Account</h1>
    <div class="form-floating mb-3">
        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="name@example.com"
               value={{account_form.initial.email}}>
        <label for="inputEmail">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" name="username" class="form-control" id="floatingPassword" placeholder="Password"
               value={{account_form.initial.username}}>
        <label for="floatingPassword">Username</label>
    </div>

    {% for field in account_form %}
    <p>
        {% for error in field.errors %}
    <p style="color: red;">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}

    {% if account_form.non_field_errors %}
    <div style="color:red;">
        <p>{{ account_form.non_field_errors }}</p>
    </div>
    {% endif %}

    {% if success_message %}
    <p style="color:green; text-align:center;">{{success_message}}</p>
    {% endif %}

    <button class="btn btn-dark" type="submit">Save</button>

</form>

<div class=".d-flex flex-column mt-3">
    <a class="m-auto mb-3" href="{% url 'password_change' %}">Change password</a>
    <a class="m-auto mb-3" type="submit" href="{% url 'contact_form' %}">Обратная связь</a>
</div>



{% endblock content%}