{% extends 'base.html' %}

{% block title %}
  Обратная связь - {{ block.super}}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}

<ul class="nav flex-column ">
  <li class="nav-item">
    <a class="nav-link text-dark" aria-current="page" href="{% url 'profile' user_id=request.user.id %}">Профиль</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="{% url 'view_users_shops' %}">Ваши магазины</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="{% url 'view_tracker' %}">Список отслеживаемых</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="{% url 'password_change' %}">Сменить пароль</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="{% url 'logout' %}">Выйти</a>
  </li>
</ul>

{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong id="successMessage">{{ message }}</strong>
      </div>
    {% endfor %}
{% endif %}


<h1>Обратная связь</h1>

<form method="post" class="mt-3">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Отправить</button>
</form>

{% endblock content%}