{% extends 'base.html' %}

{% block title %}
  {{ title }} - {{ block.super}}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<form class="form-signin" method="post">{% csrf_token %}

    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating mb-3">
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    {% for field in login_form  %}
        <p>
            {% for error in field.errors  %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}

    {% if login_form.non_field_errors %}
        <div style="color:red;">
            <p>{{ login_form.non_field_errors }}</p>
        </div>
    {% endif %}

    <button class="w-50 btn btn-lg btn-primary mb-3" type="submit">Sign in</button>
</form>

<div class=".d-flex flex-column">
    <a class="m-auto mb-3" href="{% url 'password_reset' %}">Reset password</a>
</div>



{% endblock content %}