{% extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Наименование</th>
      <th scope="col">Цена в рублях</th>
      <th scope="col">Цена в биткоинах</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items.products.all  %}
    <tr>
      <th scope="row">{{ item.title}}</th>
      <td>{{ item.price_rub}}</td>
      <td>{{ item.price_btc}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}